/** fixes from main.css */

.return {
	font-size:1.2em;
	color:var(--accent-1);
	font-family:DinNextLTPro-Medium;
	text-decoration: none;
	transition:0.3s;
	cursor: pointer;
	padding:20px 0 20px 20px;
}

.return:hover {
	color:var(--accent-2);
	transition:0.3s;
}

.return2 {
	font-size:1.2em;
	color:var(--accent-1);
	font-family:DinNextLTPro-Medium;
	text-decoration: none;
	transition:0.3s;
	cursor: pointer;
	padding:0px 0 20px 20px;
	display:none;
}

.return2:hover {
	color:var(--accent-2);
	transition:0.3s;
}

.nav2 {
	padding-top:38px;
}

.cont-divider {
	margin-top:100px;
	display:block;
}

.nav1 {
	animation:none !important;
	animation-duration: 0s;
	margin-top:-6px !important;
}

.nav {
	width:70vw;
	margin-left:15vw;
	margin-right:15vw;
	display:grid;
	grid-template-columns: 8fr 1fr;
	z-index:21 !important;
	position:absolute;
}

.theme-switch {
	right:-75vw !important;
}

.navlist {
	width:70vw;
	margin:auto;
	padding-top:10vh;
	display: block;
}

.copylink, .upbutton {
	display:none;
}

#tooltiptext, #tooltiptext2 {
	display:none;
}

.theme-switch-wrapper {
	display: flex;
	position: absolute;
	margin-top:0px !important;
	align-items: center;
	
	em {
	margin-left: 10px;
	font-size: 1rem;
	}

}
.theme-switch {
	position: absolute;
	display: inline-block;
	right:-78vw;
	margin-right:-5px;
	top:43px;
	height: 26px !important;
	width: 50px;
}

.theme-switch input {
	display:none;
}


.slider:hover {
	background: var(--button-hover) !important;
}

.slider:before {
	background-color: #ffbf1f;
	background-image:url(../links/day.png);
	background-size:cover;
	background-position:center;
	top: 3px;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	position: absolute;
	transition: .3s;
}

input:checked + .slider { /* return */
	background: #666;
}

input:checked + .slider:before {
	transform: translateX(22px);
	background-image:url(../links/night.png);
	background-size:contain;
	background-color:#101c30;

}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.sidecontainer {
	z-index:100;
	position:relative;
}

/** container modules **/

.cont-container {
	width:90vw;
	margin:auto;
	margin-top:8px;
	height:auto;
	display:grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
	grid-row-gap:20px;
}

.cont-container div {
	background:var(--material-color);
}

.cont-topbot {
	width:auto;
	display:inline-block;
	background:var(--accent-1);
}

.cont-img {
	display:flex;
	align-items:middle;
	align-items: center;

}

.cont-img img {
	padding:0px;
	width:100%;
	height:auto;
	margin:auto;
}

.cont-header {
	display:flex;
	align-items: center;
	padding:30px 30px 30px 50px;
	justify-content: center;
}

.cont-header p {
	font-family: Graphik Bold;
	color:var(--font-color);
	font-size:2em;
	letter-spacing: -1px;
}

.cont-nub {
	text-transform: uppercase;
	color:var(--accent-1);
	display:block;
	letter-spacing: 2px;
	font-size:25px;
	font-family:DINNextLTPro-Condensed;
}

.cont-tags {
	display:inline-block;
	margin-right:5px;
	font-family:DINNextLTPro-Condensed;
	letter-spacing:0px;
	color:#fff;
	padding:5px 15px 5px 15px;
	margin-top:20px;
	animation:backInRight;
	animation-duration: 8s;
	font-size:20px;
}

.cont-tags:nth-of-type(odd) {
	background:var(--accent-1);
}

.cont-tags:nth-of-type(even) {
	background:var(--accent-2);
}

.cont-para {
	font-family: DINNextLTPro-Regular;
	color:var(--font-color);
	font-size:17px;
	letter-spacing: 0px;
	padding:50px 50px 30px 50px;
	justify-content: center;
}

.cont-array {
	display:grid;
	grid-template-columns:auto auto;
	grid-template-rows: auto auto;
	grid-gap:8px;
	padding:0px;
}

.cont-array span {
	display:flex;
	align-items:left;
	justify-content: flex-start;
}

.cont-array img {
	width:100%;
	opacity:0.2;
	transition:0.2s;
	cursor:pointer;

	user-select:none;
	-webkit-touch-callout:none;
}

.cont-pholder {
	display:inline-block;
	height:11px;
	width:11px;
	border:1px solid var(--button);
	margin-right:3px;
	border-radius:50% 50%;
	margin-bottom:20px;
	margin-top:20px;
}

.cont-pholder-a {
	display:inline-block;
	height:11px;
	width:11px;
	border-radius:50% 50%;
	background:var(--accent-2);
	margin-right:3px;
	margin-bottom:20px;
	margin-top:20px;
}

.indicator {
	position:absolute;
	font-family: DINNextLTPro-Medium;
	color:var(--accent-2);
	text-align:center;
	font-size:20px;
	display:inline-block;

	margin:1em 0 0 1em;
	top:auto;
	width:auto;
	z-index:0;
}`

.cont-array img:hover {
	opacity:1;
	transition:0.2s;
	z-index:20;
}

.cont-hover {
	color:var(--accent-2);
	font-family:DINNextLTPro-Medium;
	display:block;
}

.arraycontent {
	display:none;
}

.cont-para p {
	line-height: 25px;
}

.arraylinks.active {
	opacity:1 !important;
/*	animation:pulse;
	animation-duration: 0.7s;*/
}

.cont-video {
	display:grid;
	width:90vw;
	margin:auto;
	margin-top:20px;
	height:auto;
	grid-gap:12px;
	grid-template-columns: 60vw auto;
	margin-bottom:5em;
}

.cont-video iframe {
	display:block;
	margin:0px !important;
	width:60vw;
	height:33.89vw;
}

.cont-videoleft {
	background:var(--material-color);
}

.cont-videoright {
	height:auto;
}

.cont-vrlink:hover {
	animation:pulse;
	animation-duration: 1s; /* don't forget to set a duration! */
}

.cont-videoright a {
	background:var(--material-color);
	font-family:DINNextLTPro-Medium;
	font-size:20px;
	color:var(--accent-1);
	display:grid;
	grid-template-columns: auto auto;
	margin-bottom:4px;
	text-decoration: none;
	transition:0.3s;
}

.cont-videoright a:hover {
	background:var(--accent-1);
	transition:0.3s;
}

.cont-videoright a:hover i, .cont-videoright a:hover span {
	color:#fff !important;
}

.cont-videoright i {
	color:var(--accent-1);
	padding:25px;
	text-align: right;
}

.cont-videoright span {
	padding:25px;
	text-align:left;
	color:var(--font-color);
}

.center {
	color:var(--accent-1);
	font-family:DINNextLTPro-Medium;
	display:block;
	margin:auto;
	margin-bottom:30px;
	margin-top:30px;
	margin-left:30px;
	font-size:25px;
	text-align:left;
}

.hoverclick:before {
	content:"Hover";
}

/* enter the dragon */

@media only screen and (max-width: 1000px) {

.return {
	display:none;
}

.return2 {
	display:block;
}

.cont-container {
	width:90vw;
	margin:auto;
	margin-top:8px;
	height:auto;
	display:grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr;
	grid-row-gap:20px;
}

.hoverclick:before {
	content:"Click";
}

}

@media only screen and (max-width: 600px) {

	.cont-array {
	display:grid;
	grid-template-columns:auto;
	grid-template-rows: auto;
	grid-gap:8px;
	padding:0px;
	}

	.cont-video {
	grid-template-columns: auto;
}

	.cont-video iframe {
	display:block;
	margin:0px !important;
	width:90vw;
	height:50.87vw;
}

}