/** root **/

@font-face {
	font-family:DINNextLTPro-Condensed;
	src: url(../links/fonts/DIN/DINNextLTPro-Condensed.otf);
	font-weight:normal;
}

@font-face {
	font-family: DINNextLTPro-Regular;
	src: url(../links/fonts/DIN/DINNextLTPro-Light.otf);
	font-weight:normal;
}

@font-face {
	font-family: DINNextLTPro-Medium;
	src: url(../links/fonts/DIN/DINNextLTPro-Medium.otf);
	font-weight:bold;
}

@font-face {
	font-family: DINNextLTPro-RegularItalic;
	src: url(../links/fonts/DIN/DINNextLTPro-LightItalic.otf);
	font-weight:italic;
}

@font-face {
	font-family: DINNextLTPro-MediumItalic;
	src: url(../links/fonts/DIN/DINNextLTPro-MediumItalic.otf);
	font-weight:italic;
}

@font-face {
	font-family: "Graphik Regular";
	font-weight:normal;
	src:url(../links/fonts/Graphik/Graphik-Regular.otf);
}

@font-face {
	font-family: "Graphik Bold";
	font-weight:normal;
	src:url(../links/fonts/Graphik/Graphik-Bold.otf);
}

.boxtest {
	background:rgb(18, 18, 22);
	z-index:-100;
	position:fixed;
	height:100vh;
	width:100vw;
	top:var(--boxheight);
	transition:all, 0.5s cubic-bezier(0.65, 0, 0.35, 1);
}

.colorpick-array {
	width:100%;
	display:block;
}

.colorpick {
	display:inline-block;
	padding:20px;
	margin:5px;
	border-radius: 100px;
	background:pink;
}

:root {
	--body-color: rgb(240, 240, 243);
	--material-color: #fff;
	--material-2-color: #333;
	--accent-1: #F24645;
	--accent-2: #D74177;
	--font-color: #333;
	--accent-font-color: #000;
	--button: #ccc;
	--button-hover:#fff;
	--tooltip:"Recruiting at night? Try dark mode!";
	--boxheight:-100vh;
}

[data-theme="dark"] {
	--body-color: rgb(18, 18, 22);
	--material-color: rgb(30, 30, 35);
	--material-2-color: #333;
	--accent-1: #F24645;
	--accent-2: #EBC08D;
	--font-color: #f0f0f0;
	--accent-font-color: #fff;
	--button: grey;
	--button-hover:#fff;
	--tooltip:"Use light mode!";
	--boxheight:0;
}

body {
	overflow: hidden;
/*	transition-timing-function: ease-in-out;
*/}

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

b {
	font-family:DINNextLTPro-Medium;
}

a {
	text-decoration: underline;
	color:var(--accent-2);
}

* {
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}

.hvr-grow {
	-webkit-transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	z-index:100;
}




/*	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: var(--body-color);
	}

	::-webkit-scrollbar-thumb {
		background: var(--material-2-color);
	}

	::-webkit-scrollbar-thumb:hover {
		background: var(--accent-1);
	}
*/

/* fixed side-navigation */
/* fixed side-navigation */
/* fixed side-navigation */
/* fixed side-navigation */
/* fixed side-navigation */
/* fixed side-navigation */

.sidecontainer {
	z-index:19;
	position:relative;
}

.upbutton {
	right:10vw;
	top:40vh;
	margin-top:80px;
	position: fixed;
	padding:17px;
	display:flex;
	text-decoration: none;
	align-items: middle;
	border-radius:100px;
	font-size:20px;
	background-color:var(--material-color);
	border:1px solid var(--body-color);
	cursor:pointer;
}

.upbutton:hover {
	color:var(--accent-2);
	transition:all, 0.3s;
	background-color:#fff;
}

.copylink {
	right:10vw;
	margin-right:9px;
	top:40vh;
	margin-top:160px;
	width:34px;
	height:34px;
	cursor: pointer;
	display:block;
	background:var(--button);
	position:fixed;
	text-align:center;
	font-size:1em;
	outline: none;
	border:none;
	border-radius:100%;
	transition: all, 0.3s;
}

.copylink:hover {
	transition: all, 0.3s;
	background:var(--button-hover);
}

#tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: var(--accent-1);
	color: #fff;
	border:1px solid var(--accent-1);
	text-align: center;
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	font-size: 0.8em;
	font-family:"Graphik Regular";
	font-weight:normal;
	z-index: 1;
	bottom: 120%;
	left: 50%;
	margin-left: -70px;
	opacity: 0;
	transition: opacity 0.3s;
}

#tooltiptext:before {
	content: var(--tooltip);
	text-transform: initial;
}

.tooltiphost #tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--accent-1) transparent transparent transparent;
}

.tooltiphost:hover #tooltiptext {
  visibility: visible;
  opacity: 1;
}

#tooltiptext2 {
	visibility: hidden;
	width: 140px;
	background-color: var(--accent-1);
	color: #fff;
	border:1px solid var(--accent-1);
	text-align: center;
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	font-size: 0.8em;
	font-family:"Graphik Regular";
	font-weight:normal;
	z-index: 1;
	bottom: -115%;
	left: 50%;
	margin-left: -70px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltiphost #tooltiptext2::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--accent-1) transparent;
}

.tooltiphost:hover #tooltiptext2 {
  visibility: visible;
  opacity: 1;
}

.theme-switch-wrapper {
	display: flex;
	align-items: center;
	position: absolute;
	
	em {
	margin-left: 10px;
	font-size: 1rem;
	}
}
.theme-switch {
	margin-right:9px;
	right:10vw;
	top:40vh;
	display: inline-block;
	height: 60px;
	position: fixed;
	width: 34px;
}

.theme-switch input {
	display:none;
}

.slider {
	background: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
}

.slider:hover {
	background: var(--button-hover) !important;
}

.slider:before {
	background-color: #ffbf1f;
	background-image:url(../links/day.png);
	background-size:cover;
	background-position:center;
	top: 3px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s;
	width: 26px;
}

input:checked + .slider { /* return */
	background: #666;
}

input:checked + .slider:before {
	transform: translateY(26px);
	background-image:url(../links/night.png);
	background-size:contain;
	background-color:#101c30;

}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/** main navigation **/
/** main navigation **/
/** main navigation **/
/** main navigation **/
/** main navigation **/
/** main navigation **/

#top {
	background: linear-gradient(to right, var(--accent-1),var(--accent-2));
	height:8px;
	position:relative;
	z-index:25;
	width:100%;
	display:block;
}

.container {
/*	-webkit-transform: scale(1.3);
	transform: scale(1.3);*/
	display: inline-block;
	cursor: pointer;
}

.container:hover {
	animation: tada; /* referring directly to the animation's @keyframe declaration */
	animation-duration: 1s; /* don't forget to set a duration! */
}

.container:hover div {
	margin-bottom:10px;
	background:var(--accent-1);
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-8px, 8px);
	transform: rotate(-45deg) translate(-8px, 8px);
	margin-bottom:5px !important;
	background:var(--accent-1);
}

.change .bar2 {
	opacity: 0;
	margin-bottom:5px !important;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-9px, -9px);
	margin-bottom:5px !important;
	background:var(--accent-2);
}

.nav {
	width:60vw;
	margin-left:20vw;
	margin-right:20vw;
	display:grid;
	/*right:-8px;*/ /* why?? */
	grid-template-columns: 8fr 1fr;
	z-index:25;
	position:absolute;
}

.navlist {
	width:60vw;
	margin:auto;
	grid-template-rows: repeat(3, minmax(0, 1fr));
	display: grid;
	padding-top:20vh;
}

.topborder {
	width:100%;
	height:5px;
	margin-bottom:50px;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 7px;
	background-color: var(--font-color);
	margin: 5px 0;
	transition: 0.3s;
	transition-timing-function: ease;
}

#box {
	width:100%;
	background-color:var(--material-color);
	height:100vh;
	padding:0px;
	cursor:pointer;
	text-align:center;
	position:fixed;
	z-index: 20;
	top:0vh;
	transition:all, 0.3s;
	transition-timing-function: ease-in-out;
	animation: pulse; 
	animation-duration: 0.6s;
}

.bouncehouse {
	animation: fadeOutUp !important; 
	animation-duration: 0.6s !important;
}

.magneto {
	top:-100vh !important;
	transition-timing-function: ease-in-out;
}

.tester {
	display:none !important;
}

.navitems {
	list-style: none;
	display:block;
	cursor:pointer;
	color:var(--font-color);
	font-size:3.5em;
	letter-spacing: -1px;
	text-align: left;
	font-family:"Graphik Bold";
	font-weight:normal;
	margin-bottom:20px;
	transition:all, 0.3s;
	width:auto;
	-webkit-transition:all, 0.3s;
}

.navitems:hover {
	color:var(--accent-1) !important;
	font-family:"Graphik Bold";
	font-weight:bold;
	transition:all, 0.3s;
	-webkit-transition:all, 0.3s;
}

.nav-select {
	color:var(--accent-2);
}

.nav1 {
	animation:slideInDown;
	animation-duration: 0.3s;
	display:inline-block;
	text-align:left;
	text-decoration: none;
	font-family:"Graphik Bold";
	font-weight:bold;
	letter-spacing: -1.5px;
	margin-top:-3px !important;
	font-size:2em;
	line-height:100px;
	color:var(--font-color);
	transition:all, 0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

.nav1-a {
	color:var(--accent-1);
	font-variant: small-caps;
}

.sub {
	font-family: DINNextLTPro-Condensed;
	font-weight:normal;
	font-size:0.7em;
	margin-left:5px;
	letter-spacing: 0px;
	text-transform: uppercase;
	color:var(--accent-1);
}

.nav2 {
	display:inline-block;
	text-align:right;
	padding-top:30px;
}

/** main section **/
/** main section **/
/** main section **/
/** main section **/
/** main section **/
/** main section **/


.test {
	padding-top:100px;
	display:block;
}

#Work {
	display:grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-row-gap:30px;
	grid-column-gap: 15px;
	width:60vw;
	margin:0 20vw 0 20vw;
}

body {
/*	background:var(--body-color);
*/	padding:0px;
	background:rgb(240, 240, 243);
	transition:background, 0.3s !important;
}

.block {
	height:auto;
	display:block;
	position:relative;
	z-index:1;
	background-color:var(--material-color);
	border-radius: 6px;
	border:1px solid var(--body-color);
	z-index:0;
	transition: 0.3s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.block:hover .weo {
	opacity:0;
}

.block img {
}

.motion {
	border-top:5px solid #008dde;
}

.product {
	border-top:5px solid #d11963;
}

.art {
	border-top:5px solid #1ac9b8;
}

.branding {
	border-top: 5px solid #eb8810;
}

.data {
	border-top: 5px solid #6225db;
}

.weoweo-hover {
	display:none;
	padding-top:50px;
	position:absolute;
	z-index: 3;
	border-radius: 6px;
}

.block .weoweo-hover {
	background:rgb(30, 30, 35);
	width:100%;
	height:100%;
	transition: all 0.3s;
}

.block .weoweo-hover:hover {
	opacity:1;
	transition: all 0.3s;
}

.block .weoweo-hover:hover img {
	animation: pulse; /* referring directly to the animation's @keyframe declaration */
	animation-duration: 0.8s; /* don't forget to set a duration! */
}

.falsebutton {
	margin-left:auto;
	margin-right:auto;
	font-family: DINNextLTPro-Condensed;
	font-size:1.2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	color:white;
	text-align: center;
	background-color:none;
	transition:0.2s all;
}

.cloutimg {
	margin-left:auto;
	margin-right: auto;
	display:block;
}

.block:hover .weoweo-hover {
	display:block;
}

.weo {
	display:block;
	border-radius:6px 6px 0 0;
	margin-left: auto;
	margin-right:auto;
}

.weoweo {
	display:block;
	padding: 2em 2.3em 2.3em 2.3em;
	margin-left:auto;
	margin-right:auto;
}

.weoweo-headline {
	font-family:"Graphik Bold";
	font-weight: bold;
	font-size:1.5em;
	text-decoration:none !important;
	display:block;
	color:var(--accent-font-color);
	margin-top:3px;
	letter-spacing: -0.2px;
}


.weoweo-tag {
	display:inline-block;
	font-size:1.1em;
	text-align: center;
	margin-right:15px;
	color:var(--font-color);
	line-height: 1.3;
	text-transform: uppercase;
	width:auto;
	font-family:"DINNextLTPro-Condensed";
}

.credits {
	text-align: center;
	display:block;
	margin:5em auto 5em auto;
	width:50vw;
	font-size: 0.8em;
	color:var(--font-color);
	font-family: "Graphik Regular";
	font-weight: normal;
	line-height: 20px;
	transition:all, 0.3s  cubic-bezier(0.65, 0, 0.35, 1);
}

.creditline {
	display:block;
	margin:auto;
	border-radius:100px;
	background: linear-gradient(to right, var(--accent-1),var(--accent-2));
	width:30px;
	margin-bottom:2em;
	margin-top:2em;
	height:3px;
}

/* secondary pages */
/* secondary pages */
/* secondary pages */
/* secondary pages */
/* secondary pages */
/* secondary pages */


#About {
	background:var(--material-color);
	color:var(--font-color);
}

.aboutgrid {
	display:grid;
	grid-template-columns: 1fr 1fr;
}

.aboutgrid span {
	display:block;
	margin-bottom:10px;
}

.twe {
	grid-template-columns: 1.1fr 2fr !important;
	padding-bottom:5em;
}

.aboutcont {
	background:var(--material-color);
	height:auto;
	font-family: DINNextLTPro-Regular;
	color:var(--font-color);
	padding:2em 0 2em 0;
}

.aboutbig {
	font-size:18px !important;
}

.aboutbig h1 {
	font-size:25px;
	font-family: Graphik Regular;
}

.resleft {
	text-align:right;
	padding:0px;
	margin-top:30px;
	font-family: Graphik Bold;
	letter-spacing: -1px;
}

.reslink {
	display:inline-block;
	background:var(--accent-1);
	padding:15px;
	font-family:DINNextLTPro-Medium;
	letter-spacing: -1px;
	font-size:20px;
	text-decoration: none;
	transition: 0.3s;
	text-align: center;
	color:var(--material-color);
}

.reslink:hover {
	background: var(--accent-2);
	transition: 0.3s;
}

.resleft h1 {
	color:var(--accent-1);
}

.resright {
	text-align:left;
	font-size:15px;
	margin:30px 50px 0px 50px;
	font-family: DINNextLTPro-Regular;
	font-size:20px;
}

.resrightdivide {
	display:block;
	height:10px;
}

.resright p {
	font-size:18px;
}

.cont-container {
	width:85vw;
	margin:auto;
	margin-top:8px;
	height:auto;
	display:grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
	grid-row-gap:0px;
	z-index:19;
	position: relative;
}

.cont-para {
	font-family: DINNextLTPro-Regular;
	color:var(--font-color);
	font-size:17px;
	letter-spacing: 0px;
	position:relative;
	padding:50px 50px 30px 50px;
	justify-content: center;
}

.cont-container div {
	background:var(--material-color);
}

.cont-img {
	display:flex;
	align-items: center;
}

.cont-img img {
	padding:0px;
	width:100%;
	height:auto;
	margin:auto;
}

/** mobile screens **/
/** mobile screens **/
/** mobile screens **/
/** mobile screens **/
/** mobile screens **/
/** mobile screens **/

@media only screen and (max-width: 890px) {

.resleft {
	text-align: left;
	padding-left:50px;
}

.twe {
	display:block !important;
}

.aboutgrid {
	display:block;
}

.sub {
	display:none;
}

body {
	overflow-y:hidden;
}

#Work {
	display:grid;
	grid-template-columns: 1fr;
	grid-row-gap:30px;
	grid-column-gap: 15px;
	width:90vw;
	margin:auto;
}

.nav {
	width:70vw;
	margin-left:15vw;
	margin-right:15vw;
	display:grid;
	grid-template-columns: 8fr 1fr;
	z-index:21 !important;
	position:absolute;
}

.navlist {
	width:70vw;
	margin:auto;
	padding-top:10vh;
	display: block;
}

.test {
/*	padding-top:100px;
	display:block;
	margin: 0px 15vw 0 15vw;*/
}

.upbutton, .copylink {
	display:none;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1);
	transform: scale(1);
	z-index:100;
}
/** night switcher goes to top and becomes relative **/

#tooltiptext, #tooltiptext2 {
	display:none;
}

.theme-switch-wrapper {
	display: flex;
	position: absolute;
	margin-top:3px !important;
	align-items: center;
	
	em {
	margin-left: 10px;
	font-size: 1rem;
	}

}
.theme-switch {
	position: absolute;
	display: inline-block;
	right:-78vw;
	margin-right:10px;
	top:43px;
	height: 26px !important;
	width: 50px;
}

.theme-switch input {
	display:none;
}

.slider {
	background: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
}

.slider:hover {
	background: var(--button-hover) !important;
}

.slider:before {
	background-color: #ffbf1f;
	background-image:url(../links/day.png);
	background-size:cover;
	background-position:center;
	top: 3px;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	position: absolute;
	transition: .3s;
}

input:checked + .slider { /* return */
	background: #666;
}

input:checked + .slider:before {
	transform: translateX(22px);
	background-image:url(../links/night.png);
	background-size:contain;
	background-color:#101c30;

}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.sidecontainer {
	z-index:100;
	position:relative;
}

.oldman {
	display:none;
}

.container {
		-webkit-transform: scale(0.85);
	transform: scale(0.85);
}


}