/** root **/

@font-face {
	font-family:DINNextLTPro-Condensed;
	src: url(../links/fonts/DIN/DINNextLTPro-Condensed.otf);
	font-weight:normal;
}

@font-face {
	font-family: DINNextLTPro-Regular;
	src: url(../links/fonts/DIN/DINNextLTPro-Light.otf);
	font-weight:normal;
}

@font-face {
	font-family: DINNextLTPro-Medium;
	src: url(../links/fonts/DIN/DINNextLTPro-Medium.otf);
	font-weight:bold;
}

@font-face {
	font-family: "Graphik Regular";
	font-weight:normal;
	src:url(../links/fonts/Graphik/Graphik-Regular.otf);
}

@font-face {
	font-family: "Graphik Bold";
	font-weight:normal;
	src:url(../links/fonts/Graphik/Graphik-Bold.otf);
}

:root {
	--body-color: rgb(240, 240, 243);
	--material-color: #fff;
	--material-2-color: #333;
	--accent-1: #6225db;
	--accent-2: #1ac9b8;
	--accent-3: #008dde;
	--font-color: #333;
	--accent-font-color: #000;
	--button: #ccc;
	--button-hover:#fff;
	--tooltip:"Recruiting at night? Try dark mode!";
	--resume:url(../links/resume.png);
}

[data-theme="dark"] {
	--body-color: rgb(18, 18, 22);
	--material-color: rgb(30, 30, 35);
	--material-2-color: #333;
	--accent-1: #eb8810;
	--accent-2: #d11963;
	--accent-3: #d11963;
	--font-color: #f0f0f0;
	--accent-font-color: #fff;
	--button: grey;
	--button-hover:#fff;
	--tooltip:"Use light mode!";
	--resume:url(../links/resume-dark.png);
}

body {
	overflow: hidden;
/*	transition-timing-function: ease-in-out;
*/}

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
}

b {
	font-family:DINNextLTPro-Medium;
}

a {
	text-decoration: underline;
	color:var(--accent-1);
}

* {
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}

.hvr-grow {
	-webkit-transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	z-index:100;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--body-color);
}

::-webkit-scrollbar-thumb {
	background: var(--material-2-color);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--accent-1);
}


/* fixed side-navigation */
/* fixed side-navigation */
/* fixed side-navigation */
/* fixed side-navigation */
/* fixed side-navigation */
/* fixed side-navigation */

.sidecontainer {
	z-index:19;
	position:relative;
}

.upbutton {
	right:10vw;
	top:40vh;
	margin-top:80px;
	position: fixed;
	padding:17px;
	display:flex;
	text-decoration: none;
	align-items: middle;
	border-radius:100px;
	font-size:20px;
	background-color:var(--material-color);
	border:1px solid var(--body-color);
	cursor:pointer;
}

.upbutton:hover {
	color:var(--accent-2);
	transition:all, 0.3s;
	background-color:#fff;
}

.copylink {
	right:10vw;
	margin-right:9px;
	top:40vh;
	margin-top:160px;
	width:34px;
	height:34px;
	cursor: pointer;
	display:block;
	background:var(--button);
	position:fixed;
	text-align:center;
	font-size:1em;
	outline: none;
	border:none;
	border-radius:100%;
	transition: all, 0.3s;
}

.copylink:hover {
	transition: all, 0.3s;
	background:var(--button-hover);
}

#tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: var(--accent-1);
	color: #fff;
	border:1px solid var(--accent-1);
	text-align: center;
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	font-size: 0.8em;
	font-family:"Graphik Regular";
	font-weight:normal;
	z-index: 1;
	bottom: 120%;
	left: 50%;
	margin-left: -70px;
	opacity: 0;
	transition: opacity 0.3s;
}

#tooltiptext:before {
	content: var(--tooltip);
	text-transform: initial;
}

.tooltiphost #tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--accent-1) transparent transparent transparent;
}

.tooltiphost:hover #tooltiptext {
  visibility: visible;
  opacity: 1;
}

#tooltiptext2 {
	visibility: hidden;
	width: 140px;
	background-color: var(--accent-1);
	color: #fff;
	border:1px solid var(--accent-1);
	text-align: center;
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	font-size: 0.8em;
	font-family:"Graphik Regular";
	font-weight:normal;
	z-index: 1;
	bottom: -115%;
	left: 50%;
	margin-left: -70px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltiphost #tooltiptext2::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--accent-1) transparent;
}

.tooltiphost:hover #tooltiptext2 {
  visibility: visible;
  opacity: 1;
}

.theme-switch-wrapper {
	display: flex;
	align-items: center;
	position: absolute;
	
	em {
	margin-left: 10px;
	font-size: 1rem;
	}
}
.theme-switch {
	margin-right:9px;
	right:10vw;
	top:40vh;
	display: inline-block;
	height: 60px;
	position: fixed;
	width: 34px;
}

.theme-switch input {
	display:none;
}

.slider {
	background: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
}

.slider:hover {
	background: var(--button-hover) !important;
}

.slider:before {
	background-color: #ffbf1f;
	background-image:url(../links/day.png);
	background-size:cover;
	background-position:center;
	top: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s;
	width: 26px;
}

input:checked + .slider { /* return */
	background: #666;
}

input:checked + .slider:before {
	transform: translateY(26px);
	background-image:url(../links/night.png);
	background-size:contain;
	background-color:#101c30;

}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/** main navigation **/
/** main navigation **/
/** main navigation **/
/** main navigation **/
/** main navigation **/
/** main navigation **/

#top {
	background: linear-gradient(to right, var(--accent-1),var(--accent-2));
	height:5px;
	position:relative;
	z-index:25;
	width:100%;
	display:block;
}

.container {
/*	-webkit-transform: scale(1.3);
	transform: scale(1.3);*/
	display: inline-block;
	cursor: pointer;
}

.container:hover {
	animation: tada; /* referring directly to the animation's @keyframe declaration */
	animation-duration: 1s; /* don't forget to set a duration! */
	--animate-delay: 3s;
}

.container:hover div {
	margin-bottom:10px;
	background:var(--accent-1);
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-8px, 8px);
	transform: rotate(-45deg) translate(-8px, 8px);
	margin-bottom:5px !important;
	background:var(--accent-1);
}

.change .bar2 {
	opacity: 0;
	margin-bottom:5px !important;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-9px, -9px);
	margin-bottom:5px !important;
	background:var(--accent-2);
}

.nav {
	width:50vw;
	margin-left:25vw;
	margin-right:25vw;
	display:grid;
	/*right:-8px;*/ /* why?? */
	grid-template-columns: 8fr 1fr;
	z-index:25;
	position:absolute;
}

.navlist {
	width:50vw;
	margin:auto;
	grid-template-rows: repeat(3, minmax(0, 1fr));
	display: grid;
	padding-top:17vh;
}

.topborder {
	width:100%;
	height:5px;
	margin-bottom:50px;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 7px;
	background-color: var(--font-color);
	margin: 5px 0;
	transition: 0.3s;
	transition-timing-function: ease;
}

#box {
	width:100%;
	background-color:var(--material-color);
	height:100vh;
	padding:0px;
	cursor:pointer;
	text-align:center;
	position:fixed;
	z-index: 20;
	opacity:1;
	top:-100vh;
	transition:all, 0.3s;
	transition-timing-function: ease-in-out;
}

.navitems {
	list-style: none;
	display:inline-block;
	cursor:pointer;
	color:var(--font-color);
	font-size:3.5em;
	letter-spacing: -1px;
	text-align: left;
	font-family:"Graphik Bold";
	font-weight:normal;
	margin-bottom:20px;
	transition:all, 0.3s;
	-webkit-transition:all, 0.3s;
	width:100%;
}

.navitems:hover {
	color:var(--accent-1);
	font-family:"Graphik Bold";
	font-weight:bold;
	transition:all, 0.3s;
	-webkit-transition:all, 0.3s;
	animation: headShake; /* referring directly to the animation's @keyframe declaration */
	animation-duration: 1s; /* don't forget to set a duration! */
}

/*.navitems:after {
	display:block;
	content: '';
	border-bottom: solid 5px var(--accent-1);	
	transform: scaleX(0);	
	transition: transform 225ms ease-in-out;
}
.navitems:hover:after { transform: scaleX(1); }*/

/*#overlay {
	background-color:black;
	opacity:0;
	cursor:pointer;
	width:100%;
	height:100%;
	visibility: hidden;
	position:fixed;
	z-index: 19;
	transition:opacity, 0.3s;
}*/

.nav1 {
	display:inline-block;
	text-align:left;
	text-decoration: none;
	font-family:"Graphik Bold";
	font-weight:bold;
	letter-spacing: -1.5px;
	font-size:2em;
	line-height:100px;
	color:var(--font-color);
}

.nav1-a {
	color:var(--accent-1);
	font-variant: small-caps;
}

.sub {
	font-family: DINNextLTPro-Condensed;
	font-weight:normal;
	font-size:0.7em;
	margin-left:5px;
	letter-spacing: 0px;
	text-transform: uppercase;
	color:var(--accent-1);
}

.nav2 {
	display:inline-block;
	text-align:right;
	padding-top:30px;
}

/** main section **/
/** main section **/
/** main section **/
/** main section **/
/** main section **/
/** main section **/


.test {
	padding-top:100px;
	display:block;
}

#Resume, #About {
	background-color:var(--material-color);
	width:50vw;
	margin:0 25vw 0 25vw;
	height:auto;
}

#Work {
	display:grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-row-gap:30px;
	grid-column-gap: 15px;
	width:50vw;
	margin:0 25vw 0 25vw;
}

body {
	background-color:var(--body-color);
	padding:0px;
	transition:0s !important;
}

.block {
	height:auto;
	display:block;
	position:relative;
	z-index:1;
	background-color:var(--material-color);
	border-radius: 6px;
	border:1px solid var(--body-color);
	z-index:0;
	transition: 0.3s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.block:hover .weo {
	opacity:0;
}

.block img {
}

.motion {
	border-top:5px solid #008dde;
}

.product {
	border-top:5px solid #d11963;
}

.art {
	border-top:5px solid #1ac9b8;
}

.branding {
	border-top: 5px solid #eb8810;
}

.data {
	border-top: 5px solid #6225db;
}

.weoweo-hover {
	display:none;
	padding-top:50px;
	position:absolute;
	z-index: 3;
	border-radius: 6px;
}

.block .weoweo-hover {
	background:rgb(30, 30, 35);
	opacity:0;
	width:100%;
	height:100%;
	transition: all 0.3s;
}

.block .weoweo-hover:hover {
	opacity:1;
	transition: all 0.3s;
}

.falsebutton {
	margin-left:auto;
	margin-right:auto;
	font-family: DINNextLTPro-Condensed;
	font-size:1.2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	color:white;
	text-align: center;
	background-color:none;
	transition:0.2s all;
}

.cloutimg {
	margin-left:auto;
	margin-right: auto;
	display:block;
}

.block:hover .weoweo-hover {
	display:block;
}

.weo {
	display:block;
	border-radius:6px 6px 0 0;
	margin-left: auto;
	margin-right:auto;
}

.weoweo {
	display:block;
	padding: 2em 2.3em 2.3em 2.3em;
	margin-left:auto;
	margin-right:auto;
}

.weoweo-headline {
	font-family:"Graphik Bold";
	font-weight: bold;
	font-size:1.5em;
	text-decoration:none !important;
	display:block;
	color:var(--accent-font-color);
	margin-top:3px;
	letter-spacing: -0.2px;
}


.weoweo-tag {
	display:inline-block;
	font-size:1.1em;
	text-align: center;
	margin-right:15px;
	color:var(--font-color);
	line-height: 1.3;
	text-transform: uppercase;
	width:auto;
	font-family:"DINNextLTPro-Condensed";
}

.credits {
	text-align: center;
	display:block;
	margin:5em auto 5em auto;
	width:auto;
	font-size: 0.8em;
	color:var(--font-color);
	font-family: "Graphik Regular";
	font-weight: normal;
	line-height: 20px;
}

.creditline {
	display:block;
	margin:auto;
	border-radius:100px;
	background: linear-gradient(to right, var(--accent-1),var(--accent-2));
	width:30px;
	margin-bottom:2em;
	margin-top:2em;
	height:3px;
}

/* secondary pages */
/* secondary pages */
/* secondary pages */
/* secondary pages */
/* secondary pages */
/* secondary pages */


#Resume, .res-link {
	border-radius: 5px 5px 0 0;
}

.res-links {
	display:grid;
	grid-template-columns: 1fr 1fr;
}

.res-link {
	line-height:60px;
	border-radius: 5px 0px 0 0;
	font-family:DINNextLTPro-Medium;
	font-size:1em;
	text-align: center;
	color:#fff;
	text-decoration: none;
	transition:all, 0.3s;
	background:var(--accent-1);
}

.res-linkin {
	line-height:60px;
	border-radius: 0px 5px 0 0;
	font-family:DINNextLTPro-Medium;
	font-size:1em;
	text-align: center;
	color:#fff;
	text-decoration: none;
	transition:all, 0.3s;
	background:var(--accent-1);
	border-left:1px solid #fff;
}

.res-linkin:hover, .res-link:hover {
	background:var(--accent-2);
}

.res-copy {
	padding:30px;
	font-family: DINNextLTPro-Regular;
	font-size:1em;
	color:var(--font-color);
}

.res-head {
	font-family: DINNextLTPro-Medium;
	font-size:;
	color:var(--accent-1);
	display: block;
	border-bottom:1px solid var(--accent-1);
	margin-bottom:15px;
	padding-bottom: 5px;
}

.res-split {
	margin-bottom:20px;
	display:grid;
	grid-column-gap: 1.2em;
	grid-template-columns: 8fr 1fr;
}

.res-2 {
	font-style:Italic;
}

.res-split p {
	padding:0px;
	margin:0px;
}

/** about page **/

#About {
	border-radius: 6px;
	padding:30px;
	font-family: DINNextLTPro-Regular;
	font-size:1em;
	color:var(--font-color);
}

/** mobile screens **/
/** mobile screens **/
/** mobile screens **/
/** mobile screens **/
/** mobile screens **/
/** mobile screens **/


@media only screen and (max-width: 850px) {

.sub {
	display:none;
}

body {
	overflow-y:hidden;
}

#Resume {
	margin:0 5vw 0 5vw;
	width:90vw;
}

#About {
	width:70vw;
}

#Work {
	display:grid;
	grid-template-columns: 1fr;
	grid-row-gap:30px;
	grid-column-gap: 15px;
	width:70vw;
	margin:0 15vw 0 15vw;
}

.nav {
	width:70vw;
	margin-left:15vw;
	margin-right:15vw;
	display:grid;
	/*right:-8px;*/ /* why?? */
	grid-template-columns: 8fr 1fr;
	z-index:21;
	position:absolute;
}

.navlist {
	width:70vw;
	margin:auto;
	display: block;
}

.test {
/*	padding-top:100px;
	display:block;
	margin: 0px 15vw 0 15vw;*/
}

.upbutton, .copylink {
	display:none;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1);
	transform: scale(1);
	z-index:100;
}
/** night switcher goes to top and becomes relative **/

#tooltiptext, #tooltiptext2 {
	display:none;
}

.theme-switch-wrapper {
	display: flex;
	position: absolute;

	align-items: center;
	
	em {
	margin-left: 10px;
	font-size: 1rem;
	}
}
.theme-switch {
	position: absolute;
	display: inline-block;
	right:-78vw;
	top:40px;
	height: 26px !important;
	width: 50px;
}

.theme-switch input {
	display:none;
}

.slider {
	background: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
}

.slider:hover {
	background: var(--button-hover) !important;
}

.slider:before {
	background-color: #ffbf1f;
	background-image:url(../links/day.png);
	background-size:cover;
	background-position:center;
	top: 3px;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	position: absolute;
	transition: .3s;
}

input:checked + .slider { /* return */
	background: #666;
}

input:checked + .slider:before {
	transform: translateX(22px);
	background-image:url(../links/night.png);
	background-size:contain;
	background-color:#101c30;

}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

}