@font-face {
	font-family: DINNextLTPro-Regular;
	src: url(../links/fonts/DIN/DINNextLTPro-Light.otf);
	font-weight:normal;
}

@font-face {
	font-family: DINNextLTPro-Medium;
	src: url(../links/fonts/DIN/DINNextLTPro-Medium.otf);
	font-weight:bold;
}

@font-face {
	font-family: DINNextLTPro-Heavy;
	src: url(../links/fonts/DIN/DINNextLTPro-Heavy.otf);
	font-weight:bolder;
}

#Resume, .res-link {
	border-radius: 5px 5px 0 0;
}

.res-links {
	display:grid;
	grid-template-columns: 1fr 1fr;
}

.res-link {
	line-height:60px;
	border-radius: 5px 0px 0 0;
	font-family:DINNextLTPro-Medium;
	font-size:1em;
	text-align: center;
	color:#fff;
	text-decoration: none;
	transition:all, 0.3s;
	background:var(--accent-1);
}

.res-linkin {
	line-height:60px;
	border-radius: 0px 5px 0 0;
	font-family:DINNextLTPro-Medium;
	font-size:1em;
	text-align: center;
	color:#fff;
	text-decoration: none;
	transition:all, 0.3s;
	background:var(--accent-1);
	border-left:1px solid #fff;
}

.res-linkin:hover, .res-link:hover {
	background:var(--accent-2);
}

.res-copy {
	padding:30px;
	font-family: DINNextLTPro-Regular;
	font-size:1em;
	color:var(--font-color);
}

.res-head {
	font-family: DINNextLTPro-Medium;
	font-size:;
	color:var(--accent-1);
	display: block;
	border-bottom:1px solid var(--accent-1);
	margin-bottom:15px;
	padding-bottom: 5px;
}

.res-split {
	margin-bottom:20px;
	display:grid;
	grid-column-gap: 1.2em;
	grid-template-columns: 8fr 1fr;
}

.res-2 {
	font-style:Italic;
}

.res-split p {
	padding:0px;
	margin:0px;
}