@font-face {
	font-family: DINNextLTPro-Regular;
	src: url(../links/fonts/DIN/DINNextLTPro-Light.otf);
	font-weight:normal;
}

@font-face {
	font-family: DINNextLTPro-Medium;
	src: url(../links/fonts/DIN/DINNextLTPro-Medium.otf);
	font-weight:bold;
}

@font-face {
	font-family: DINNextLTPro-Heavy;
	src: url(../links/fonts/DIN/DINNextLTPro-Heavy.otf);
	font-weight:bolder;
}

#Resume, .res-link {
	border-radius: 5px 5px 0 0;
}

.res-link {
	background:var(--material-color);
	line-height:60px;
	font-family:DINNextLTPro-Medium;
	font-size:1em;
	text-align: center;
	color:#fff;
	text-decoration: none;
	transition:all, 0.3s;
	background:var(--accent-1);
}

.res-link:hover {
	transition:all, 0.3s;
	background:var(--accent-2);
	color:#fff;
}

.res-copy {
	padding:30px;
	font-family: DINNextLTPro-Regular;
	font-size:1em;
	color:var(--font-color);
}

.res-head {
	font-family: DINNextLTPro-Medium;
	font-size:;
	color:var(--accent-1);
	display: block;
}