body {
    background:var(--body);
    color:white;
    font-family: Poppins;
    overflow-x:hidden;
    transition:0.3s;
}

* {
    padding:0px;
    scroll-behavior: smooth;
    margin:0px;
    font-family: Poppins;
    transition:0.2s;
    -webkit-transition:0.2s;
}

a {
    text-decoration: none;
}

:root, [data-theme="default"] {
    --body:#ece3b9;
    --accent1:#F9FD47;
    --accent2:#779AFF;
    --material:#383442;
    --whisper:#969696;
    --navy:#121742;
    --footer:#1D1D21;
    --footerbutton:#F9FD47;
    --footertext:#fff;
    --arise2:#779aff;
    --arise:#969696;
    --box-pos:0;
    --navbox:100vw;
    --flashborder:#779AFF;
}

@supports (--css: variables) {
  [data-theme="dark"] {
    --body:#ece3b9;
    --accent1:#28402c;
    --accent2:#ff4a3c;
    --material:#28402c;
    --whisper:#869171;
    --navy:#aaff00;
    --footer:#28402c;
    --footerbutton:#ff4a3c;
    --footertext:#aaff00;
    --arise2:#869171;
    --arise:#ff4a3c;
    --box-pos:-130vw;
    --navbox:-50vw;
    --flashborder:#aaff00;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.topnav #myNav {
  display: flex;
  align-items: center;
  overflow: hidden;
  top:-150vh;
  background-color: var(--accent1);
  text-align: center;
  z-index:20;
  position: fixed;
  height:100vh;
  width:100vw;
  border-bottom: 50vh solid var(--flashborder);
  transition:0.5s;
  -webkit-transition:0.5s;
}

.linkcontainer {
    width:100%;
    display: block;
    margin-bottom: 5em;
}

.topnav a {
  color: var(--accent2);
  text-decoration: none;
  padding:5px;
  font-size: 4em;
  font-weight: 600;
  width:100%;
  display: block;
}

.topnav a:hover {
    background:var(--accent2);
    color:var(--accent1);
}

.navtext {
    color:var(--navy);
    font-size:3.5em;
    margin-top:0.3em;
    cursor: pointer;
}

#dabox {
    height:100vh;
    z-index: -100;
    transition:0.8s !important;
    -webkit-transition:0.8s !important;
    left:var(--box-pos);
    width:100vw;
    background:#222227;
    border-right:30vw solid var(--flashborder);
    position:fixed;
    display:block;
}

div label input {
   margin-right:0px;
}

.switch label input, .menubox label input {
    display:none;
}
body {
    font-family:sans-serif;
}

.switch {
display:inline-block;
  color:var(--accent2) !important;
  cursor: pointer !important;
}

.yellow {
    color:var(--accent1);
}

.blue {
    color:var(--accent2);
}
/** expo **/

.hvr-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index:100;
}

.hvr-grow-subtle {
    -webkit-transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.work-item:hover .hvr-grow-subtle, .work-item:focus .hvr-grow-subtle, .work-item:active .hvr-grow-subtle {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    z-index:100;
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

/* Style the buttons */
.btn {
  cursor: pointer;
}

.btn.active {
    border-bottom:4px solid var(--accent2);
    color:var(--accent1);
    font-weight:600;
}

/** expo ends **/

.nav-container {
    width:100vw;
    z-index: 500 !important;
    position: fixed;
    top:0px !important;
    display:block;
}

#navbox2 {
    background:#F9FD47;
    z-index: 500 !important;
    width:100vw;
    color:#F9FD47;
    position:fixed;
    padding:2.5vh 0 2.5vh 0;
    font-size:18px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}

#navbox {
    background:#28402c;
    border-left:50vw solid var(--flashborder);
    color:var(--accent1);
    transition:0.8s !important;
    -webkit-transition:0.8s !important;
    width:100vw;
    z-index: 500 !important;
    left:var(--navbox);
    position:fixed;
    padding:2.5vh 0 2.5vh 0;
    font-size:18px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}

#nav {
    width:65vw;
    display:block;
    margin: 0 auto 0 auto;
    height:auto;
    padding:2.5vh 0 2.5vh 0;
    position: relative;
}

.nav-cont a {
    text-decoration: none;
}

.nav-item {
    color:var(--navy);
    font-size:18px;
    letter-spacing: 3px;
    display:inline-block;
    font-family:Poppins;
    font-weight:300;
}

.nav-item:hover {
    color:var(--accent2);
}

.menubox {
    font-size:20px;
    cursor:pointer;
}

.clickedon {
    font-weight:600 !important;
}

.nav-left {
    font-weight:600;
}

.nav-right {
    float:right;
    display:inline-block;
    font-weight:300;
    margin-left:50px;
}

#hero {
    display:block;
    width:100%;
    z-index: 0;
    position: relative;
}

.hero-cont {
    width:65vw;
    margin:0 17.5vw 0 17.5vw;
    padding-top:11vh;
}

.hero-spacer {
    height:11vh;
}

.hero-text {
    font-size: 2.2em;
    line-height: 45px;
}

.appear {
    display:none;
}

.work-options-items {
    display:inline-block;
    margin-right:30px;
    font-size:18px;
    font-family:Poppins;
    color:var(--whisper);
    padding:5px 0 5px 0;
    border-bottom:0px solid var(--body);
}

.work-options-items:hover {
    color:var(--accent1);
    cursor:pointer;
    border-bottom:4px solid var(--accent1);
    transition:0.3s, height;
}

#work {
    width:100%;
    padding-top:4vh;
    z-index: 0;
    position: relative;
}

.work-cont {
    width:65vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1.8vw;
    margin:0 17.5vw 0 17.5vw;
}

.work-item {
    height: auto;
    border:1px solid var(--accent2);
    border-radius:11px;
    padding-bottom: 4%;
}

.work-item:hover {
    background-color:var(--accent2);
    transition:0.3s;
}

.work-item:hover .work-text {
    color:#121742;
}

.work-item:hover .yellow {
    color:var(--accent2);
}

.work-iter {
    background:var(--material);
    border-radius: 11px;
    height:82%;
    margin:6%;
    transition: 0.5s !important;
    -webkit-transition: 0.5s !important;
    padding-bottom: 30px;
}

.work-item:hover .work-iter {
    background:white;
    transition:0.3s;
}

.work-iter img {
    width:100%;
    padding:0px;
    margin:0px;
    border-radius:11px 11px 0px 56px;
}

.work-text {
    color:white;
    display:grid;
    font-size:18px;
    position:relative;
    padding:0px;
    margin:12px 7.5% 0px 7.5%;
}

.work-h1 {
    font-size:1.3em;
    line-height: 1.3em;
    text-decoration: underline;
    display:block;
    margin-bottom:40px;
    font-weight:600;
    color:var(--footertext);
    text-decoration-color: var(--accent2);
}

.work-item:hover .work-h1 {
    color:var(--footer);
}

.work-bottom {
    position:absolute;
    bottom:6%;
    display:block;
    width:85%;
    margin:12px 7.5% 0px 7.5%;
}

.work-left {
    display:inline-block;
    font-weight:300;
    color:var(--footertext);
}

.work-item:hover .work-iter .work-left {
    color:var(--accent2);
}

.work-right {
    font-size:20px;
    position:absolute;
    bottom:-2px;
    right:-3px;
    display: inline-block;
}

.work-capital {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:600;
}

#footer {
    background:var(--footer);
    width:100%;
    margin-top:25vh;
    z-index: 0;
}


.footer-cont {
    width:65vw;
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    margin:0 17.5vw 0 17.5vw;
    padding-top:70px;
    padding-bottom:200px;
}

.footer-button {
    display:inline-block;
    margin-right:30px;
    font-size:18px;
    color:var(--whisper);
}

.footer-top {
    float:right;
    font-weight: 600;
    color:var(--accent1) !important;
    margin-right:0px !important;
    text-align: right;
    display:inline-block;
}

.footer-top:hover {
    color:var(--accent2) !important;
    transition: 0.3s;
}

.footer-p {
    width:100%;
    color:var(--whisper);
    margin-top:30px;
    font-size:18px;
    line-height: 26px;
    font-family:'Poppins', sans-serif;
    font-weight:300;
    letter-spacing: 0px;
}

#footer a {
    color:var(--footertext);
}

#footer a:hover {
    color:var(--accent2);
    transition: 0.3s;
}

@media only screen and (max-width: 950px) {

.work-cont {
    width:60vw;
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:5vh;
    margin:auto;
}


.nav-right {
    float:right;
    display:inline-block;
    font-weight:300;
    margin-left:20px;
}

#nav {
    width:60vw;
    display:block;
    height:auto;
}

.hero-cont {
    width:60vw;
    display:block;
    margin:auto;
}

.goaway {
    display:none !important;
}

}

@media only screen and (max-width: 750px) {


#nav {
    width:70vw;
    display:block;
    height:auto;
}

.hero-cont {
    width:70vw;
    display:block;
    margin:auto;
}

.nav-cont {
    padding-top:0px;
    padding-bottom: 0px;
}

.hero-text {
    font-size:2.8em;
    line-height: 53px;
}

/*.work-right {
    display:none;
}*/

.hero-spacer {
    height:8vh;
}

.appear {
    display:block;
}

.work-cont {
    width:70vw;
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:5vh;
    margin:auto;
}

.work-h1 {
    font-size:1.4em;
}

.footer-top {
    color:var(--accent1) !important;
    text-align: left;
    display:block;
    float:left;
}

.footer-wrap {
    margin-bottom:30px;
}

}

/** border trim **/