* {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight:300;
    transition:all, 0.2s;
}

/*h1, h2, h3 {
    letter-spacing: -1px ;
}*/

:root {
  --text-primary: #000;
  --text-reverse: #fff;
  --alt30: #CDD1E2;
  --alt10: #fff;
  --dark: none;
  --light: inline-block;
  --switchtext: 'View in dark mode';
  --bubba: 0vw;
  --mid: #7f7f84;
  --accent: #E4F223;
  --accent2: #B45AFF;
}

[data-theme="light"] {
  --text-primary: #fff;
  --text-reverse: #000;
  --alt30: #4c4c4c;
  --alt10: #171717;
  --dark: inline-block;
  --light: none;
  --switchtext: 'View in light mode';
  --bubba: -100vw;
  --mid: #B0B0B0;
  --accent: #235ae4;
  --accent2: #B45AFF;
}

.bubba {
    width:100vw;
    height:100vh;
    background: #fafafa;
    position: fixed;
    z-index: -3;
    margin-left:var(--bubba);
    transition: all, 0.6s;
}

#theme-toggle::after {
    content:var(--switchtext);
}

#theme-toggle {
    font-size:16px;
    cursor: pointer;
    background: none;
}

.dark img, .dark {
    display: var(--dark) !important;
}
.light img, .light {
    display: var(--light) !important;
}

body {
    margin:0;
    padding:0;
    background: var(--text-reverse);
    margin-bottom: 100px;
}

b, h1, h2, h3 {
    font-weight:600;
}

.hvr-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index:100;
}

.navBar {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:16px 24px 16px 24px;
    font-size:16px;
    /*background: var(--alt10);*/
    /*border-bottom: 1px solid var(--alt30);*/
}

.navBar .navLeft {
    display: flex;
    gap: 32px;
    align-items:center;
}

.navBar .navRight {
    display: flex;
    gap: 8px;
}

.navLeft a {
    display: inline-flex;
    font-weight: 400;
    text-decoration: none;
    color:var(--mid);
    padding:8px;
}

.navLeft a:hover {
    color:var(--text-primary);
}

.navLeft .logo {
    height:28px !important;
    width:auto;
}

.navRight a, #theme-toggle {
    text-decoration: none;
    padding:8px;
    color:var(--text-primary);
    border-radius: 8px;
    border:1px solid var(--alt30);
    background: var(--text-reverse);
}

.navRight a:hover, #theme-toggle:hover {
    background: var(--text-primary);
    border:1px solid var(--text-primary);
    color:var(--text-reverse);
}

.main {
    display: block;
    color:var(--text-primary);
    max-width: 900px;
    margin-left:auto;
    padding:48px;
    margin-right:auto;
    margin-top:-1px;
    border:1px solid var(--alt30);
}

.main:hover {
    background: var(--alt10);
}

.main h1 {
    font-size: 48px;
    text-align: center;
    letter-spacing: -1px;
}

.main p {
    font-size:16px;
    text-align: center;
    line-height: 30px;
    color:var(--mid);
}

.twoBlockDiv .para {
    display: block;
    font-size:16px;
    text-align: left;
    color:var(--mid);   
}

.buttonContainer {
    margin:auto;
    margin-top:30px;
    display: flex;
    justify-content: center;
    width:auto;
    flex-direction: row;
    gap:16px;
    align-items: center;
}

.buttonContainer:hover .secondary, .buttonContainer:hover .primary, {
    padding:16px 10px 16px 10px;
}

.primary {
    display: inline-flex;
    border-radius: 100px;
    background: var(--text-primary);
    color: var(--text-reverse);
    padding:16px 24px 16px 24px;
    text-decoration: none;
    font-size:16px;
    align-items: center;
}

.primary:hover {
    background:var(--accent);
    color:var(--text-primary);
}

.secondary {
    display: inline-block;
    border-radius: 100px;
    border: 1px solid var(--alt30);
    color: var(--text-primary);
    padding:16px 24px 16px 24px;
    text-decoration: none;
    font-size:16px;
}

.secondary:hover {
    background:var(--text-reverse) !important;
}

.twoBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:var(--text-primary);
    max-width: 996px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-1px;
    border:1px solid var(--alt30);
}

.twoBlockDiv {
    padding:48px;
    padding-top:48px;
    transition:all, 0s;
    border-right:1px solid var(--alt30);
    margin-bottom: 0px !important;

}

.twoBlockDiv:hover {
    background:var(--alt10);
    border:1px solid var(--accent) !important;
    padding:47px !important;
    transition: all, 0s;
}

.twoBlockDiv:last-of-type {
    border-right:none;
}

.twoBlockDiv .articleContainer h1 {
    display: inline-block;
    font-size:32px;
    align-items: center;
}

.twoBlockDiv .articleContainer span {
    vertical-align: middle;
    gap:5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.tag {
    display: inline-block;
    color:var(--accent2);
    font-size:12px;
    padding:4px;
    font-weight: 500;
    border: 1px solid var(--accent2);
    border-radius: 4px;
}

.twoBlockDiv img {
    margin:0px !important;
    border-radius: 8px;
    width:100%;
}

.threeBlockOverride {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
}

.threeBlockOverride h1 {
    font-size:22px !important;
}

.heroContainer {
    width:100%;
    display: block;
    text-align: center;
}

.portHeader .byline {
    font-size:16px;
    color:var(--mid);
    display: block;
    margin-bottom: 14px;
}

.portHeader .byline a {
    text-decoration: underline;
    color:inherit;
}

.portHeader {
    color:var(--text-primary);
    text-align: left;
    padding:36px 36px 36px 36px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:24px;
}

.portHeaderRight h3 {
    font-size:20px;
    line-height: 20px;
}

.portHeaderRight b {
    color:var(--text-primary);
    weight:500;
}

.portHeader h1 {
    text-align: left;
    letter-spacing: -1px;
    max-width: 30ch;
    margin-top:10px;
    margin-bottom: 10px;
    font-size:32px;
}

.portHeader p {
    max-width: 80ch;
    font-size: 16px;
    font-weight: 300;
    color:var(--mid);
    margin-top:10px;
    margin-bottom: 10px;
    text-align: left;
}

.factContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    border-top:1px solid var(--alt30);
}

.factContainer .facts {
    color:var(--text-primary);
    padding:48px 24px 48px 24px;
    border-right:1px solid var(--alt30);
    display: grid;
}

.factContainer .facts span:first-of-type {
    font-size:24px;
    font-weight: 800;
}

.factContainer .facts span:last-of-type {
    color:var(--mid);
}

/** portfolio stuff **/

.portMain {
    margin-top:-1px;
    border:1px solid var(--alt30);
}

.container {
    max-width: 1100px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid var(--alt30);
}

.threeGrid {
    display: grid;
    margin-top:100px;
    grid-template-columns: 1fr 1fr 1fr;
}

.threeGrid div {
    display: grid;
    grid-gap:10px;
    padding:30px;
    color:var(--text-primary);
    font-size:20px;
    font-weight:500;
    border-right:1px solid var(--alt30);
    border-bottom: 1px solid var(--alt30);
}

.threeGrid div:hover {
    background: var(--alt10);
}

.threeGrid img {
    border-radius: 8px;
}

.threeGrid div a {
    display: block;
    font-weight:300;
    color:var(--text-primary);
    font-size:16px;
}

.threeGrid .hero {
    display: block;
}

.threeGrid .hero h1 {
    display: block;
    font-size:36px;
    color:var(--text-primary);
    margin-bottom: 10px;
}

.threeGrid p {
    margin:0 !important;
    color:var(--mid) !important;
    font-size:18px;
}

/** modal stuff **/

.threeGrid button {
    margin-right:auto;
    width:auto;
    background: inherit;
    padding:12px 24px;
    border:1px solid var(--alt30);
    cursor:pointer;
    color:var(--text-primary);
    border-radius: 100px;
    font-size: 16px;
}

.threeGrid button:hover {
    background: var(--text-primary);
    color:var(--text-reverse);
}

/* Modal Content */

.modal h2 {
    font-size: 24px;
}

.modal img {
    border-radius: 8px;
    width:65%;
}

.modal-content {
  background: white;
  width: 900px;
  padding: 48px;
  border-radius: 8px;
  position: relative;
  height: 65vh;
  overflow-y:scroll;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 36px;
  color:var(--mid);
  cursor: pointer;
  background: none;
  border:none;
  font-weight: 300;
}

.close:hover {
    color:var(--text-reverse);
}

/** delet **/

.modal {
  position: fixed;
  inset: 0;
  display: none; /* hidden unless active */
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.25);
  z-index: 4;

  /* animation states */
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.2s ease, transform 0.35s ease;
}

.modal.active {
  display: flex; /* force layout before transition */
}

.modal.show {
  opacity: 1;
  transform: translateY(0);
}

/** media queries **/

@media only screen and (max-width: 1100px) {

.threeGrid {
    display: grid;
    margin-top:100px;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.container {
    margin-left:30px;
    margin-right:30px;
}

.navBar {
    font-size:24px;
}

.heroContainer {
    margin-top:25px;
}

/*body {
    text-align: center;
}*/

.twoBlock, .threeBlockOverride {
    display: grid;
    grid-template-columns: 1fr !important;
    margin-left:30px;
    margin-right:30px;
}

.twoBlockDiv {
    border-bottom: 1px solid var(--alt30);
    border-right:none !important;
}

.threeBlockOverride h1 {
    font-size:32px !important;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap:16px;
    margin-bottom: 30px;
}

.main {
    padding:24px;
    margin-left:30px;
    margin-right:30px;
}

#theme-toggle::after {
    content:none;
}

.goaway {
    display: none !important;
}

.modal-content {
    margin-left:30px;
    margin-right:30px;
}

.navBar {
    margin-bottom: 20px;
}

.portHeader {
    display: block;
}

}

@media only screen and (max-width: 500px) {

.modal img {
    width:100%;
}

.threeGrid {
    display: grid;
    margin-top:100px;
    grid-template-columns: 1fr;
    text-align: left;
}

.factContainer {
    display: block;
    text-align: center;
}

.factContainer .facts {
    /*display: block;*/
    border-bottom: 1px solid var(--alt30);
}

}