.w3-bar {
	width:100%;
	
	text-align:center;
}

.w3-bar-item {
	cursor: pointer;
	outline:0;
	padding:20px;
	font-family: Graphik;
	font-weight:lighter;
	font-size:20px;
	border:none;
	color:#444;
	margin: 20px 15px 0 15px;
	border-bottom:3px solid #eee;
	transition:all, 0.2s;
	-webkit-transition:all, 0.2s;
}

.w3-bar-item:hover {
	border-bottom:3px solid #f1a7c0;
	transition:all, 0.2s;
	-webkit-transition:all, 0.2s;
}

.w3-red {
	font-weight:bolder;
	border-bottom:3px solid #d91c5c;
}

.w3-red:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(217, 28, 92, 0);
	border-top-color: #d91c5c;
	border-width: 10px;
	margin-left: -10px;
}

.navh {
	text-align:center;
	width:58%;
	display:block;
	font-size:20px;
	margin:50px auto 20px auto;
	font-weight:bold;
}

.navp {
	text-align:center;
	width:58%;
	display:block;
	font-size:16px;
	margin:20px auto 20px auto;
	line-height:25px;
}

@font-face {
  font-family: Graphik;
  src: url(links/Graphik/Graphik-Bold.otf);
  font-weight:bold;
}

img {
	pointer-events: none;
}

* {
	background-size:cover;
	background-repeat:none;
	font-family: Graphik;
}

@font-face {
  font-family: Graphik;
  src: url(links/Graphik/Graphik-Light.otf);
  font-weight:lighter;
}

@font-face {
  font-family: Graphik;
  src: url(links/Graphik/Graphik-Regular.otf);
  font-weight:normal;
}

body {
	padding:0px;
	margin:0px;
	background-color:#fff;
	scroll-behavior: smooth;
	font-family:Graphik, "Comic Sans MS", sans-serif;
	font-weight:normal;
}

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

a {
	text-decoration:none;
	color:inherit;
	cursor:pointer;
}

p {
	margin:0 auto 0 auto;
}

/** splash **/

#splashcont {
	width:100%;
	background-color:#F26B6B;
	background:url(links/desktop.webp);
	background-size:cover;
	background-position:center;
	height:100vh;
	display:grid;
	grid-template-columns: 1fr 1fr;
}

#splashleft {
	margin-top:20vh;
	width:80%;
	margin-left:16%;
	padding:0px;
}

#splashsub {
	color:#000;
	font-size:1em;
	margin-top:20px;
	font-weight:lighter;
}

#clickthis {
	margin-top:5vh;
	border:none;
	color:#fff;
	background-color:#d91c5c;
	font-weight:bold;
	font-size:1em;
	width:30%;
	padding:15px;
	transition:all, 0.2s;
	-webkit-transition:all, 0.2s;
	cursor: pointer;
}

#clickthis:hover {
	width:50%;
	background-color:#01B69B;
	transition:all, 0.2s;
	-webkit-transition:all, 0.2s;
}

#couldclick {
	border:none;
	color:#d91c5c;
	width:15%;
	font-weight:bold;
	font-size:1em;
	padding:15px;
	transition:all, 0.2s;
	cursor: pointer;
	-webkit-transition:all, 0.2s;
	background:none;
}

#couldclick:hover {
	color: #01B69B;
	transition:all, 0.2s;
	-webkit-transition:all, 0.2s;
}

/** PF stuff **/

#pf-cont-anchor {
	top:-70px;
	height:20px;
	display:block;
	position:relative;
}

#pf-cont, #pf-cont-2, #pf-cont-3 {
	margin:0px auto 0 auto;
	background:#fff;
	width:80%;
	border:2px solid #eee;
	display:none;
	transition: all, 0.3s;
	padding-bottom:50px;
}

.pf-square-cont {
	text-align:right;
}

/** main stuff **/

#newcolor1 {
	background-color:#fff;
	margin-top:50px;
}

#newcolor2 {
	background-color:#fff;
	padding:80px 0 150px 0;
}

#main {
	margin: 0 auto 0 auto;
	padding:0vh 0 10px 0;
	background-color:#fff;
}

#main-anchor {
	top:-82vh;
	height:20px;
	display:block;
	position:relative;
}

/** maincont stuff **/

#maincont {
	width:80%;
	margin:40px auto 0 auto;
	display:grid;
	grid-gap:5px;
	grid-template-columns: 1fr 1fr;
}

#maincont-label {
	margin-bottom:5px;
	color:white;
	font-size:20px;
	font-weight:bold;
}

#maincont-antho {
	height:63vh;
	display:block;
	background-color:white;
	background-image:url(links/bea2.png);
	background-size:cover;
	background-repeat:none;
	background-position: center;
}

#maincont-featcontainer {
	display:grid;
	grid-gap:5px;
	grid-template-rows: 1fr 1fr;
}

#maincont-feat1 {
	background-color:green;
	background-image:url(https://i.imgur.com/cDAoS0L.gif);
	display:block;
	background-position:center;
}

#maincont-feat2 {
	background-color:teal;
	background-image:url(links/fea2.png);
	display:block;
}

.maincont-title {
	width:95%;
	margin: 2.5% 0 0 4%;
	text-align:left;
}

.maincont-hover-desc {
	opacity:0;
	font-size:16px;
	transition:all, 0.15s;
	-webkit-transition:all, 0.15s;
	height:80%;
	display:flex;
	align-items: flex-end;
	width:93%;
	margin-left:4%;
	color:white;
}

#maincont-antho {
	display:grid;
	grid-template-rows: 3.5fr 1fr;
}

#maincont-feat1, #maincont-feat2 {
	display:grid;
	grid-template-rows: 1.8fr 1fr;
}

/*#maincont-antho:hover .maincont-hover-desc, #maincont-feat1:hover .maincont-hover-desc, #maincont-feat2:hover .maincont-hover-desc {
	opacity:1;
	transition:all, 0.15s;
	display:flex;
	align-items:middle;
	-webkit-transition:all, 0.15s;
}*/

@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.maincont-title-small {
	font-size:12px;
	color:white;
	text-transform: uppercase;
	letter-spacing:2px;
	display:block;
	margin-bottom:2px;
}

.maincont-title-big {
	font-size:25px;
	font-weight:bold;
	color:white;
}

/** Secondary tier **/

#secondarycont {
	margin: 7vh auto 2vh auto !important;
	width:80%;
}

.secpf {
	height:auto;
	width:100%;
	padding:20px;
	display:grid;
	grid-template-columns:auto 1fr;
	margin: 0 0 6vh 0;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}

.secpf:hover {
	color:#FFF !important;
}

.secpf-img {
	height:200px;
	display:inline-block;
	width:200px;
	border:1px solid #fff;
}

.secpf-title {
	color:#003B3F;
	font-weight:bold !important;
	margin-bottom:12px;
}

.secpf-bot {
	text-align: center;
	font-size:15px;
	width:80%;
	color:#000;
	margin:12px auto 0 auto;
}

.secpf-bot0 {
	text-align: center;
	font-size:15px;
	width:80%;
	color:#000;
	font-weight:bold;
	margin:12px auto 0 auto;
}

.secpf-last {
	width:100%;
	transition:all, 0.2s;
	-webkit-transition:all, 0.2s;
}

/* secpf article stuff */

.secpf-article {
	width:50vw;
	margin-left:20px;
	display:inline-block;
	display:grid;
}

.secpf-article-title {
	font-weight:bold;
	margin-bottom:8px;
	font-size:20px;
}

.sec-title {
	display:block;
	margin-top:30px;
}

#goup0 {
	position:relative;
	display:block;
	height:0px;
	top:-8vh;
}

#middling {
	text-align:center;
	color:#000;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size:14px;
	margin-bottom:40px;
	margin-top:20px;
}

.desob {
	color:#000;
	font-weight:bold;
	font-size:25px;
	text-align:right;
}

.ha {
	color: #d91c5c;
}

.desob2 {
	color:#000;
	font-weight:bold;
	font-size:25px;
	text-align:right;
}

#goup1 {
	position:relative;
	display:block;
	height:0px;
	top:-5vh;
}

#goup2 {
	position:relative;
	display:block;
	height:0px;
	top:-12vh;
}

/** some secpf-thumbnail images **/

#s1, #s2, #s3, #s4, #s5, #s6 {
	background-size:cover;
	background-position:left;
	background-repeat:no-repeat;
}

#s1 {
	background-image:url(links/s1.png);
}

#s2 {
	background-image:url(links/motion/logo.gif);
}

#s3 {
	background-image:url(links/s3.png);
}

#s4 {
	background-image:url(links/s4.png);
}

#s5 {
	background-image:url(links/s5.png);
}

#s6 {
	background-image:url(links/s6.png);
}

.whatever {
	text-align:center;
	color:#000;
	margin-bottom:40px;
	font-weight:bolder;
	display: block;
	font-size:20px;
}

.showthis {
	display:inline-block;
	font-size:15px;
	z-index:10;
}

#sec-cont1, #sec-cont2, #sec-cont3, #sec-cont4, #sec-cont5, #sec-cont6 {
	margin:0px auto 50px auto;
	background:#fff;
	width:80%;
	display:none;
	border:2px solid #eee;
	height:auto;
	transition: all, 0.3s;
	overflow-y: hidden;
	overflow-x: hidden;
}

/** footer **/


.hvr-sweep-to-right {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d91c5c;
  color:#fff !important;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/** Responsive stuff **/

@media only screen and (min-width: 1700px) {
  body {
    font-size:1.3em;
  }
}

.hvr-float {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}
