* {
    scroll-behavior: smooth !important;
    transition:0.3s;
}

.box {
    z-index: -99999;
    background: #FEFAF0;
    transition: 0.5s;
    margin-left:var(--box);
    position: fixed;
    width: 100vw;
    height: 100vh;
}

b {
    font-weight: 500;
}

@supports (--css: variables) {

    :root, [data-theme="default"] {
    --box:100vw;
    --daybutton:none;
    --nightbutton:block;
    --subtle:#132035;
    --vivid:#CF2A36;
    --mid:#235ae4;
    --caption:#B2B2B6;
    --bodytext:#fff;
    --whiteorred:white;
    }

  [data-theme="dark"] {
    --box:0vw;
    --daybutton:block;
    --nightbutton:none;
    --subtle:#FCEBD2;
    --vivid:#CF2A36;
    --mid:#235ae4;
    --caption:#6D5D48;
    --bodytext:#291904;
    --whiteorred:#CF2A36;
    }
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  padding:0px !important;
  width: auto;
  cursor: pointer !important;
}
.theme-switch {
  display: flex;
  position: relative;
  align-items: center;
  height:100%;
  cursor: pointer !important;
}

.theme-switch input {
  display:none;
}

.slider {
    display: block;
    text-align: center;
width:50px;
  cursor: pointer;
}

.daybutton {
    display: var(--daybutton);
    color:var(--vivid);
}

.nightbutton {
    display: var(--nightbutton);
    color:var(--vivid);

}

/** **/

.borderLeft {
    color:var(--bodytext);
}

body {
    margin:0;
    font-family: "Reddit Sans", sans-serif;
    color:white;
    font-weight: 300;
    display: flex !important;
    background:#0A1322;
}

h1, h2, h3, h4 {
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

#nav {
    display: flex;
    justify-content: space-between;
    margin:7vh auto 0 auto;
}

.switch label input {
    display:none;
}

.switch, .switch label {
    display:inline-block;
    cursor: pointer !important;
}

.navSecondary {
    display: flex;
    column-gap: 30px;
}

.navItem {
    display: flex;
    align-items: center;
    color:var(--bodytext);
    height:6vh;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 3px;
    padding-left:12px;
    padding-right:12px;
    border:2px solid var(--subtle);
    border-radius: 6px;
}

.navItem:hover {
    border:2px solid var(--vivid);
}

.navBold {
    display: flex;
    align-items: center;
    color:var(--whiteorred);
    height:6vh;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0px;
    padding-left:12px;
    font-style: italic;
    padding-right:12px;
    border:2px solid var(--vivid);
    border-radius: 6px;
}

.navBold:hover {
    border:2px solid var(--mid);
}

#massContainer {
    width:87vw;
    margin: auto;
    padding-bottom: 5vw;
}

.hero {
    z-index: -999;
    border-radius: 10px;
}

.hero-group {
    display: flex;
    align-items: center;
    column-gap: 20px;
    flex-direction: row;
}

.hero-group video, .hero-group img, .hero img {
    min-width:70% !important;
}

.hero-contents {
    display: flex;
    padding:0 24px 0 24px;
    border:1px solid var(--vivid);
    border-radius: 10px 10px 70px 10px;
    width:100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    row-gap: 0px;
    column-gap: 0px;

}

.hero-contents span {
    color:var(--caption);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size:14px;
    display: block;
    margin-bottom: 14px;
}

.hero-contents a {
    font-weight: 300;
    display: block;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    transition:0.2s;
    color:var(--bodytext);
    padding-top:6px;
    padding-bottom:6px;
    border-radius: 10px;
}

.hero-contents a:before {
    content: "> ";
    font-family: Poppins;
    color: var(--vivid);
}

.hero-contents a:hover {
    transition:0.2s;
    color:var(--vivid);
}

#aboveFold {
    display: flex;
    flex-direction: column;
    height:87vh;
    justify-content:center;
    width:100%;
    row-gap: 20px;
    margin-bottom: 150px;
}

#aboveFold img {
    border-radius:8px;
}

#aboveFold h1 {
    margin:0px;
    max-width: 35ch;
    display: flex;
    align-items: center;
    height:auto;
    font-size:32px;
    color:var(--bodytext);
}

#aboveFold .subItems {
    width:100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    row-gap:30px;
    column-gap: 96px;
    color:var(--bodytext);
}

#aboveFold .subItems div {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
}

#aboveFold .subItems h1 {
    font-size:24px;
    display: flex;
    flex-grow:1;
}

#aboveFold .subItems div span:first-of-type {
    font-size:16px;
    color:var(--caption);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.subItems a {
    color:inherit !important;
    font-weight: 600;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.hvr-float2 {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float2:hover, .hvr-float2:focus, .hvr-float2:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.hvr-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index:100;
}


#aboveFold .subItems div span:last-of-type {
    font-size:16px;
}

@keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }


.textchain {
    display: flex;
    max-width:700px;
    flex-direction: column;
    align-items: flex-start;
    row-gap:20px;
    margin:auto;
    margin-bottom:200px;
    margin-top:200px;
    justify-content: center;
    height:50vh;
}

.textfull {
    display: flex;
    max-width:700px;
    flex-direction: column;
    align-items: flex-start;
    row-gap:20px;
    margin:auto;
    justify-content: center;
    height:40vh;
    margin-bottom: 100px;
}

.textfull h3 {
    font-weight: 500;
    color:var(--vivid);
}

.textchain h3 {
    font-size:24px;
    height:16px;
}

.interlocutorwrapper {
    display: flex;
    flex-direction: row;
    column-gap:10px;
    animation: fadeInAnimationLeft ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.interlocutorchain {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-left:auto;
}

.interlocutor-profile {
    width:40px;
    height:40px;
    border-radius:150px;
    background: url(assets/img/USB/profile-loc.webp);
    background-size: contain;
    align-self:flex-end;
}

.interlocutor-profile:hover .loc-profile-hover {
    display: block;
}

.interloc-profile-hover {
    display: none;
    position:absolute;
    font-size: 16px;
    margin-top:50px;
    margin-left: 0px;
    background:var(--subtle);
    padding:10px;
    border-radius: 8px;
}

.interlocutor-profile:hover .interloc-profile-hover {
    display: block;
}

.loc-profile-hover {
    display: flex;
    position:absolute;
    font-size: 16px;
    margin-top:50px;
    text-align: right;
    background:var(--subtle);
    padding:10px;
    border-radius: 8px;
}


.locutor-profile {
    display: block;
    width:40px;
    height:40px;
    border-radius:150px;
    background: url(assets/img/USB/profile-min.png);
    background-size: contain;
    background-repeat:no-repeat;
    align-self:flex-end;
}

.interlocutor {
    display: bold;
    background:#235ae4;
    color:white;
    padding:20px;
    font-size: 18px;
    border-radius:20px 20px 20px 0px;
}

@keyframes fadeInAnimationLeft {
            0% {
                opacity: 0;
                margin-left:-20px;
            }

            100% {
                opacity: 1;
                margin-left:0px;
            }
        }

@keyframes fadeInAnimationRight {
            0% {
                opacity: 0;
                margin-right:-20px;
            }

            100% {
                opacity: 1;
                margin-right:0px;
            }
        }

.locutorwrapper {
    margin-left:auto;
    display: flex;
    column-gap:10px;
    animation: fadeInAnimationRight ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.locutorchain {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-left:auto;
}

.interlocutorchain span {
    text-align: left;
    font-size: 14px;
    color:var(--caption);
    margin-right:10px;
}

.locutorchain span {
    text-align:right;
    font-size: 14px;
    color:var(--caption);
    margin-right:10px;
}

.locutor:first-of-type {
    border-radius:20px 20px 20px 20px;
}

.locutor:last-of-type {
    border-radius:20px 20px 4px 20px;
}

.locutor {
    margin-left:auto;
    display: bold;
    background:var(--subtle);
    color:var(--bodytext);
    border-radius: 20px;
    padding:20px;
    font-size: 18px;
    max-width: 45ch;
}

.loclink {
    background:#149b3c;
    text-decoration: none;
    color:white;
}

.loclink:hover {
    background:#005a05;
    transition:0.2s;
}

/** content **/

.block-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap:30px;
}

.block-three div, .block-three a{
    border-radius: 10px;
    background: var(--subtle);
    padding:30px;
    text-decoration: none;
    transition:0.3s;
    border:2px solid var(--subtle);
}

.block-three a:hover {
    background:var(--mid);
    color:white !important;
    transition:0.3s;
    border-radius: 10px 10px 100px 10px !important;
}

.block-three div p, .block-three a p {
    font-size: 18px;
    color:var(--bodytext);
    text-align: left;
    font-weight: 300;
}

.block-three div p b {
    font-size:24px;
    font-weight:300;
}

.block-three img {
    border-radius: 10px;
    width:100%;
}

.block-four {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap:10px;
    margin-bottom: 150px;
}

.block-four div, .block-four a {
    border-radius: 10px;
    background: var(--subtle);
    padding:16px;
    text-decoration: none;
    transition:0.3s;
    border:2px solid var(--subtle);
}

.block-three a:hover p {
    color: white !important;
}


.block-four div p, .block-four a p {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 16px;
    color:var(--bodytext);
    text-align: left;
    font-weight: 300;
}

.block-four span {
    font-weight: 500;
}

.block-four img {
    border-radius: 10px;
    width:100%;
}

.doublep {
    color:var(--bodytext);
    max-width:120ch;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 36px;
    margin-bottom: 150px;
}

.doublep p {
    font-size: 18px;
}

.block-two {
    margin:auto;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: 150px;
}

.block-two h2 {
    font-size:16px;
    color:var(--vivid);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin:0px;
}

.block-two a {
    color:inherit;
}

.block-two div {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block-two div img {
    width:100%;
    border-radius: 20px;
}

.block-two div p {
    font-size: 18px;
    color:var(--bodytext);
    text-align: left;
    font-weight: 300;
    margin-bottom: 150px;
}

.block-one {
    display: grid;
    grid-row-gap: 20px;
    width:100%;
    margin-bottom: 150px;
}

.block-half {
    width:50%;
    margin:auto;
    margin-bottom: 150px;
}

.block-half video {
    border-radius: 8px;
}

.block-half img {
    width:100%;
    border-radius: 20px;
}

.block-one img, .block-one video {
    width:100%;
    border-radius: 20px;
}

.block-case {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-column-gap: 15px;
    border-radius: 8px;
    margin-top:100px;
}

.block-case:hover {
    background: var(--subtle);
    border-radius: 20px;
}

.block-case img {
    border-radius: 16px 16px 70px 16px;
}

.block-case span {
    color:var(--vivid);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.block-case div {
    color:var(--bodytext);
    padding:30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.block-case h1 {
    margin:0px;
    font-size: 30px;
    font-weight: 300;
}

.block-case h1 i {
    color:var(--vivid);
}

.block-case p {
    margin:0px;
}

.case-button {
    padding:12px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    width:100px;
    color:var(--bodytext);
    text-decoration: none;
    text-align: center;
    border:2px solid var(--vivid);
}

.case-button:hover {
    background: var(--vivid);
    color:white;
}

.footer {
    line-height: 26px;
    margin-bottom: 50px;
    font-size:18px;
    margin-top:100px;
    color:var(--bodytext);
    border-top:2px solid var(--subtle);
    padding-top:20px;
}

.topdoglaw {
    padding:15vh 0 15vh 0;
    max-width:80ch;
    animation: fadeInAnimationLeft ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.mauser {
    position:absolute;
    width:100vw;
    z-index: -99999;
    top:0;
    right:0;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.topdoglaw h1, .topdoglaw a {
    display: inline-block;
    font-size:30px;
    color:var(--bodytext);
    border-radius: 16px 16px 16px 4px;
    margin:0px;
    padding:30px;
    font-weight: 300;
    background: var(--subtle);
    margin-bottom:10px;
    text-decoration: none;
}

.topdoglaw a {
    background: var(--vivid);
    color:white;
    font-size:20px;
    font-weight: 300;
}

.topdoglaw a:hover {
    background: var(--mid);
    color:white;
}

.topdoglaw b {
    font-weight: 500;
    color:var(--vivid);
}

.footer a {
    font-weight: 600;
    text-decoration: none;
    color:var(--vivid);
}

.footer a:hover {
    color:var(--mid);
}

.aboutImg {
    display: flex;
    gap:10px;
    margin-bottom: 10px;
}

.aboutImg span {
    height:40vh;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.aboutImg img {
    display: flex;
    margin:auto;
}

.resumep {
    font-size:18px;
    color:var(--bodytext);
    padding:16px;
    border-radius: 10px;
    background: var(--subtle);
    max-width: 80ch;
    margin-bottom: 16px;
}

.resumedate {
    display: flex;
    gap:10px;
}

.resumedate span {
    display: inline-block;
}

.resumedate span:first-of-type {
    font-weight: 600;
    color:var(--vivid);
}

.resumedate span:last-of-type {
    font-style: italic;
}

.threefer {
    display: grid;
    margin-bottom: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 36px;
}

.threefer span {
    border:2px solid var(--mid);
    padding:24px;
    border-radius: 8px;
}

.xray input[type="checkbox"] {
    border-radius: 8px;
    content: url('assets/img/AP/mobile.webp');
    appearance: none;
    display: block;
    width: 100%;
    height: auto;
    cursor: url(assets/img/AP/cursor.svg), auto;
}

.xray input[type="checkbox"]:checked {
    content: url('assets/img/AP/mobile2.webp');
}

.xray2 input[type="checkbox"] {
    border-radius: 8px;
    content: url('assets/img/CS/landing.webp');
    appearance: none;
    display: block;
    width: 100%;
    height: auto;
    cursor: url(assets/img/AP/cursor.svg), auto;
}

.xray2 input[type="checkbox"]:checked {
    content: url('assets/img/CS/landingnote.webp');
}

/** screen rules **/

@media only screen and (max-width: 1380px) {

.threefer {
    display: block;
}

.threefer span {
    height:auto;
    display: block;
    margin-bottom: 24px;
}

.mauser {
    display:none;
}

.aboutImg {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap:16px;
}

.aboutImg span {
    width:100%;
    height:auto;
}

.topdoglaw {
    padding:8vh 0 8vh 0;
}

.goaway {
    display: none !important;
}

.footer {
    margin:50px auto 100px auto;
    padding-left:24px;
    padding-right:24px;
}

.block-case {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    padding:24px;
    border:2px solid var(--subtle);
    border-radius: 8px;
    margin:50px auto auto auto;
}

.block-case div, .block-case img {
    margin-top:0px;
    padding:0px;
    row-gap: 20px;
}

.block-case img {
    margin-bottom: 20px;
}

.block-case h1 {
    font-size:28px;
}

.navSecondary {
    column-gap: 10px;
}

.hero-group {
    display: block;
}

.hero-contents {
    display: none;
}

.block-two {
    display:block;
    max-width:70%;
    min-width:50%;
}

.block-two div {
    margin-bottom: 24px;
}

.block-three, .block-four {
    display: block;
}

.doublep {
    max-width:100ch;
    display: block;
}

.navItem {
    font-size: 14px;
}

#aboveFold .hero {
    width:100% !important;
}

.tags {
    display: none !important;
}

.block-three div, .block-three a {
    max-width:60%;
    min-width:40%;
    display: block;
    margin:auto;
    margin-bottom: 24px;
}

.block-four div, .block-four a {
    max-width:70%;
    min-width:50%;
    display: block;
    margin:auto;
    margin-bottom: 24px;
}

}